<script>
//    $(document).ready(function () {
//    });

</script>

<div class="marginbig" style="background-color: darkorange;">
    <img  style="padding-left: 3px;padding-top: 3px; width: 200px;" src="{{ host }}g3links_brand.png" alt="g3">
    <h1 style="color: white; ">{{ lbl_security }}</h1>
</div>
<h3>{{ lbl_username }}, {{ username }}</h3>
<p>{{ lbl_email }}</p>
