<script>
    $(document).ready(function () {
        document.getElementById("btnlogon").addEventListener("click", function () {
            apilogon();
        });
    {% if allowcreateuser %}
            document.getElementById("llogin").addEventListener("click", function () {
                activepanel("loginform", 'llogin');
            });
            document.getElementById("btnnewlogon").addEventListener("click", function () {
                apinewlogon();
            });
            document.getElementById("lresetpwd").addEventListener("click", function () {
                activepanel("resetpwdform", "lresetpwd");
                loadresetpwdform();
            });
            document.getElementById("lchangepwd").addEventListener("click", function () {
                activepanel("changepwdform", "lchangepwd");
                loadchangepwdform();
            });
            document.getElementById("btnsecuritycode").addEventListener("click", function () {
                apisecuritycode();
            });

            document.getElementById("clearuser").addEventListener("click", function () {
                apilogout();
            });
    {% endif %}
        });

        var inprogress = false;

        function activepanel(elem, link) {
            $("#llogin").show();
            $("#lchangepwd").show();
            $("#lresetpwd").show();

            $("#subformsecuritycode").hide();
            $("#loginform").hide();
            $("#changepwdform").hide();
            $("#resetpwdform").hide();

            $("#" + elem).show();
            $("#" + link).hide();
        }

        async function apilogon() {
            if (inprogress)
                return false;
            $("#apilogonmssg").hide();

            if (!$('#subformlogon')[0].checkValidity())
                return false;

            let emaillogon = document.getElementById("emaillogon").value;
            let pwdlogon = document.getElementById("pwdlogon").value;

            var dataPost = {"email": emaillogon, "password": pwdlogon};

            inprogress = true;
            let response = await fetch("{{ apilogonroute }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(dataPost),
            }
            );

            let responseobj = await response.text();
            var obj = JSON.parse(responseobj);

            if (!response.ok) {
                $("#apilogonmssg").show();
                $("#apilogonmssg").html(obj.message);
            }

            inprogress = false;
            if (response.ok) {
                document.cookie = "g3links=" + obj.token + "; path=/";
                //long term username 30 days
                var time = new Date(new Date().getTime() + (30 * 24 * 60 * 60 * 1000))
                document.cookie = "g3=" + emaillogon + "; path=/;expires=" + time;
//                var x = document.cookie;
//                console.log("cookie: " + x);
                document.cookie = "g3links=" + obj.token + "; path=/";
                location.href = "{{ apirestartroute }}";
            }
        }

        async function apinewlogon() {
            if (inprogress)
                return false;
            $("#apilogonmssg").hide();

            if (!$('#subformnewlogon')[0].checkValidity())
                return false;

            if ($("pwdnew").val() !== $("pwdnew1").val()) {
                alert("password did not match");
                return false;
            }

            let username = document.getElementById("usernamenew").value;
            let email = document.getElementById("emailnew").value;
            let pwd = document.getElementById("pwdnew").value;
            let pwd1 = document.getElementById("pwdnew1").value;

            var dataPost = {"email": email, "username": username, "pwd": pwd, "pwd1": pwd1};

            inprogress = true;
            let response = await fetch("{{ apilogonnewroute }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(dataPost),
            }
            );
            let responseobj = await response.text();
            var obj = JSON.parse(responseobj);
            if (!response.ok) {
                $("#apilogonmssg").show();
                $("#apilogonmssg").html(obj.message);
            }

            inprogress = false;
            if (response.ok) {
                $("#loginform").hide();
                $("#subformsecuritycode").show();

                $("#securitycode").val("");
                $("#securitysource").val(obj.securesource);
                $("#securitycodeemail").val(email);
                $("#securitypwd").val(pwd);

                $("#securitycode").focus();
            }

        }

    {% if allowcreateuser %}
        async function loadchangepwdform() {
            $("#apilogonmssg").hide();

            let response = await fetch("{{ changepwdformroute }}");
            $("#changepwdform").html(await response.text());
        }

        async function loadresetpwdform() {
            $("#apilogonmssg").hide();

            let response = await fetch("{{ resetpwdformroute }}");
            $("#resetpwdform").html(await response.text());
        }

        async function apisecuritycode() {
            if (inprogress)
                return false;
            $("#apilogonmssg").hide();

            if (!$('#subformsecuritycode')[0].checkValidity())
                return false;

            let email = document.getElementById("securitycodeemail").value;
            let pwdnew = document.getElementById("securitypwd").value;
            let securitysource = document.getElementById("securitysource").value;
            let securitycode = document.getElementById("securitycode").value;

            var dataPost = {"email": email, "securesource": securitysource, "securekey": securitycode, "pwdnew": pwdnew};

            inprogress = true;
            let response = await fetch("{{ apisecuritycoderoute }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(dataPost),
            }
            );
            let responseobj = await response.text();
            var obj = JSON.parse(responseobj);
            if (!response.ok) {
                $("#apilogonmssg").show();
                $("#apilogonmssg").html(obj.message);
            }

            inprogress = false;
            if (response.ok) {
                $("#emaillogon").val(email);
                $("#pwdlogon").val(pwdnew);
                apilogon();
            }
        }

    {% endif %}

        async function apilogout() {
            document.cookie = "g3links=; path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            document.cookie = "g3=; path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;";

            location.href = "{{ apirestartroute }}";
        }

</script>

<div class="floatRight txtLabel">{{ lbl_host }}</div>
<!-- ERRORS -->
{% if messageerror is not empty %}
    <div class="loginNotFound margin" >
        <div class="txtXLarge">{{ lbl_security }}</div>
        <p>{{ messageerror }}</p>
    </div>
{% endif %}

<!-- logon -->
<div id="loginform">
    <form class="marginbig" id="subformlogon">
        <div class="titleName">{{ lbl_submitlogin }}</div>
        <input class="pnlFloatBorder" id="emaillogon" type="email" placeholder="{{ lbl_email }}" value="{{ useremail }}" autofocus required >
        <input class="pnlFloatBorder" id="pwdlogon" type="password" placeholder="{{ lbl_password }}" minlength="4" required >
        <input name="callback" type="hidden" value="{{ callback }}" >
        <div class="submit pnlFloat marginsmall center" id="btnlogon" >{{ lbl_submitlogin }}</div>
    </form>
    <!-- register account -->
    {% if allowcreateuser %}
        <form class="marginbig" id="subformnewlogon" >
            <div class="titleName">{{ lbl_submitregister }}</div>
            <input class="pnlFloatBorder" id="usernamenew"type="text" maxlength="60" placeholder="{{ lbl_username }}" autofocus required ><br>
            <input class="pnlFloatBorder" id="emailnew" type="email" placeholder="{{ lbl_email }}" required ><br>
            <input class="pnlFloatBorder" id="pwdnew" type="password" placeholder="{{ lbl_password }}" minlength="4" required >
            <input class="pnlFloatBorder" id="pwdnew1" type="password" placeholder="{{ lbl_password1 }}" minlength="4" required >
            <div class="submit pnlFloat marginsmall center" id="btnnewlogon" >{{ lbl_submitregister }}</div>
        </form>
    {% endif %}
</div>

{% if allowcreateuser %}
    <form class="marginbig" id="subformsecuritycode" hidden >
        <div class="titleName">{{ lbl_securitycode }}</div>
        <p>{{ lbl_securitymessage }}</p>
        <input class="pnlFloatBorder" id="securitycode" type="text" maxlength="7" autofocus required >
        <div class="submit pnlFloat marginsmall center" id="btnsecuritycode" >{{ lbl_submitsecuritycode }}</div>
        <input type="hidden" id="securitysource" >
        <input type="hidden" id="securitycodeemail" >
        <input type="hidden" id="securitypwd" >
    </form>
{% endif %}

<div id="changepwdform"></div>
<div id="resetpwdform"></div>

<div id="apilogonmssg" class="loginNotFound margin" hidden></div>

{% if allowcreateuser %}
    <div>
        <span id="llogin" class="linkTitle" hidden >{{ lbl_submitlogin|capitalize }}</span>
    </div>
    <div>
        <span id="lchangepwd" class="linkTitle" >{{ lbl_changepwd|capitalize }}</span>
    </div>
    <div>
        <span id="lresetpwd" class="linkTitle" >{{ lbl_resetpwd|capitalize }}</span>
    </div>

    <span id="clearuser" class="linkTitle" >{{ lbl_clearuser|capitalize }}</span><br>
{% endif %}


<div class="margin"></div>
<span class="margin"><a target="_blank" href="{{ aboutroute }}">{{ lnk_message }}</a></span>

