<script>

    var modaluser = document.getElementById("user");

    $(document).ready(function () {
        document.getElementById("cmod").addEventListener("click", function () {
            getSpan();
        });

    {% if linkmoduleownerroute is not empty %}
            document.getElementById("submit").addEventListener("click", function () {
                savechangeslinksowner();
            });
    {% endif %}
        });

    {% if linkmoduleownerroute is not empty %}
        async function savechangeslinksowner() {
            $("#submitpnl").hide();

            //get form  
            let form = $("#updatemodulelinksowner");
            let params = form.serializeArray();
            //Declaring new Form Data Instance  
            let formData = new FormData();
            //Now Looping the parameters for all form input fields and assigning them as Name Value pairs. 
            $(params).each(function (index, element) {
                formData.append(element.name, element.value);
            });

            let response = await fetch("{{ linkmoduleownerroute }}",
                    {
                        body: formData,
                        method: "post"
                    });
            var resp = await response.text();
            callbackForm();
            getSpan();

//            $.ajax({
//                type: "post",
//                url: "{* linkmoduleownerroute }}",
//                data: formData,
//                contentType: false,
//                processData: false,
//                success: function (response) {
//                    //package needs to implement callbackForm() after the call from Ajax 
//                    callbackForm();
//                    getSpan();
//                }
//            });

        }
    {% endif %}

</script>

<div id="user" class="modalUser">
    <div class="modalUser-content">
        <span id="cmod" class="modal-close" ></span>

        <form id="updatemodulelinksowner" method="post" enctype="multipart/form-data" >
            <p>
                <input id="modulename" type="checkbox" name="isshared" {% if issharedmodule %}checked{% endif %} >
                <label for="modulename" class="title">{{ lbl_modulenamemssg }}</label>
            </p>

            <div class="table pnlBackWhite">
                <div class="tableRow">
                    <div class="tableHead txtLabel" ><label>{{ th_col1 }}</label></div>
                    <div class="tableHead txtLabel center" ><label>{{ th_col2 }}</label></div>
                    <div class="tableHead txtLabel" ><label>{{ th_col3 }}</label></div>
                </div>

                {% for project in projlist %}
                    <div class="tableRow taskselect" >
                        <div class="tableCell"><label>{{ project.title }}</label></div>
                        <div class="tableCell center"><input type="checkbox" name="i-{{ project.idsharedataproj }}" {% if project.active %}checked{% endif%} ></div>
                        <div class="tableCell center"><label>{{ createon|date("j M Y g:ia") }}</label></div>
                    </div>
                {% endfor %}

                {% if projlist is empty %}
                    {{ lbl_notfound }}
                {% endif %}

            </div>

            {% if linkmoduleownerroute is not empty %}
                <p id="submitpnl" class="center" style="margin-top: 30px;">
                    <label id="submit" >{{ lbl_submit }}</label>
                </p>
            {% endif %}
        </form>
    </div>
</div>
