<style>
    .titleName {
        font-weight:  bold;    
        font-size: large;
        color: darkslateblue;
    }
    .center {
        text-align: center;
    }
    .txtRed {
        color: red;
    }
    .marginbig {
        padding: 25px;
    }
    .table {
        display: table;
        width: 100%;
    }
    .tableRow {
        display: table-row;
    }
    .tableCell {
        display: table-cell;
        /*white-space: nowrap;*/
        vertical-align: top; 
    }
    .titleheader {
        /*background-color: black;*/
        background-color: #2D506E;
        color: white;    
    }
    .txtDark {
        /*        color: darkslategrey;*/
    }
    .txtLabel {
        font-size: small;
        color: slategray;
    }
    .submit {
        text-decoration: none;
        padding:10px; 
        background: seagreen; 
        color: white;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
</style>
<script>
</script>

<div class="titleName center">
    <div>WEBSITE SETUP SETTINGS</div>
</div>
<div class="titleName txtRed">{{ infomessage }}</div>

<form action="{{ updatesetuproute }}" method="post" class="marginbig" >
    <div class="table">
        <div class="tableRow titleheader">
            <div class="tableCell">Website data</div>        
            <div class="tableCell"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark" style="width: 200px;">real data path: 
                <div class="txtLabel" style="width: 300px;">full path location for database and configuration files. Attention: for security, do not deploy data under the root website.</div>
            </div>        
            <div class="tableCell"><input type="text" name="datapath" value="{{ datapath }}" required style="width: 100%;"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">website page title: </div>        
            <div class="tableCell"><input type="text" name="pagetitle" value="{{ pagetitle }}" required style="width: 100%;"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">welcome page: 
                <div class="txtLabel">this page will be loaded when user has logged out.</div>

            </div>        
            <div class="tableCell"><input type="url" name="welcomepage" value="{{ welcomepage }}" style="width: 100%;" ></div>        
        </div>
        <div class="tableRow titleheader">
            <div class="tableCell">Mail delivery</div>        
            <div class="tableCell"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">outgoing server:
                <div class="txtLabel">The host name of the outgoing SMTP (Simple Mail Transfer Protocol) server</div>
            </div>
            <div class="tableCell"><input type="text" name="mailer_host" value="{{ mailer_host }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">sender name: 
                <div class="txtLabel">Choose your sender name as you would like it to appear in messages that you send.</div>
            </div>        
            <div class="tableCell"><input type="text" name="mailer_sender" value="{{ mailer_sender }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">sender email: 
                <div class="txtLabel">email address for this account for delivering messages.</div>
            </div>        
            <div class="tableCell"><input type="email" name="mailer_sendfrom" value="{{ mailer_sendfrom }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">email username: 
                <div class="txtLabel">Username credential for delivering emails. Some email providers want your full email address as your user name.</div>
            </div>        
            <div class="tableCell"><input type="text" name="mailer_username" value="{{ mailer_username }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">email password: 
                <div class="txtLabel">Password credential use to sign in to your account for delivering emails.</div>
            </div>        
            <div class="tableCell"><input type="text" name="mailer_password" value="{{ mailer_password }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">secure SSL/TLS:
                <div class="txtLabel">Recommende ssl</div>
            </div>        
            <div class="tableCell"><input type="text" name="mailer_smtpsecure" value="{{ mailer_smtpsecure }}" style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">smtp port: 
                <div class="txtLabel">The port number used by the outgoing SMTP mail server. IMAP, POP3 not allow.</div>
            </div>        
            <div class="tableCell"><input type="text" name="mailer_port" value="{{ mailer_port }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">email for developers: 
                <div class="txtLabel">All emails will be redirected to developers, when testing under a localhost environment.</div>
            </div>        
            <div class="tableCell"><input type="email" name="mailer_testemail" value="{{ mailer_testemail }}" style="width: 100%;" ></div>        
        </div>
        <div class="tableRow titleheader">
            <div class="tableCell">Thecnical support</div>        
            <div class="tableCell"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">email messages: 
                <div class="txtLabel">All errors and warnings will be redirected to this email.</div>
            </div>        
            <div class="tableCell"><input type="email" name="emailerror_email" value="{{ emailerror_email }}" required style="width: 100%;" ></div>        
        </div>
        <div class="tableRow titleheader">
            <div class="tableCell">Security token</div>
            <div class="tableCell"></div>        
        </div>
        <div class="tableRow">
            <div class="tableCell txtDark">key: 
                <div class="txtLabel">Key is required to keep your web hosting account secure.</div>
            </div>        
            <div class="tableCell"><input type="text" name="token_key" value="{{ token_key }}" required style="width: 100%;" ></div>        
        </div>
        <br>
        <div class="tableRow">
            <div class="tableCell"></div>        
            <div class="tableCell"><input class="marginbig submit" type="submit" name="update" value="update settings" ></div>        
        </div>

    </div>
</form>
